#explore-palettes_title {
  transition: opacity 0.2s ease-in-out;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 24px;
  position: relative;
  text-align: left;
}

.page-title {
  margin-bottom: 60px;
  text-align: center;
}

h1 {
  font-size: 50px;
  margin-bottom: 30px;
  font-variation-settings: 'wght' 900;
  color: black;
  line-height: 1.1em;
  letter-spacing: -0.045em;
}

.page-title div {
  color: #7d7c83;
  line-height: 1.7em;
  font-size: 20px;
  display: block;
}

#explore-palettes_title .page-title div {
  max-width: 400px;
  margin: 0 auto;
}
